################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcApp
/MvcApp/bin/Debug/net5.0
/MvcApp/obj
